<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>cbb.bitmap.3</title>


    <link v-if="CONFIG.mode=='T'"
      rel="stylesheet"
      href="http://localhost:8000/bulma.min.css"
    /><link v-if="CONFIG.mode=='T'"
      rel="stylesheet"
      href="http://localhost:8000/leaflet.css"
    />

    <link rel="stylesheet" href="http://localhost:8000/fa-all.css"/>
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"> -->


<script type="text/javascript" src='http://localhost:8000/axios.min.js'></script>
<script type="text/javascript" src='http://localhost:8000/leaflet.js'></script>
<!-- <script type="text/javascript" src='http://localhost:8000/all.js'></script> -->

<!--     <link v-if="CONFIG.mode=='33'"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"
      integrity="sha256-2k1KVsNPRXxZOsXQ8aqcZ9GOOwmJTMoOB5o5Qp1d6/s="
      crossorigin="anonymous"
    />
    <link v-if="CONFIG.mode=='33'"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


<script type="text/javascript" src='https://AXIOS.js'></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.js'></script>
<script type="text/javascript" src='https://use.fontawesome.com/releases/v5.0.4/js/all.js'></script>
     -->
    
  </head>
  <body style="width:100%;height:100%;">
    
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
