<section class="section">
  <div class="container">
    <div class="columns">

<div class="column is-one-quarter"></div>

    <div class="column">

<div class="cbb-hero-instance">'Did anyone ever stuff one of those basketballs down their shorts and, like, pretend they have Elephantiasis and then people are like "Well I don't know where the ball is" and then they run down the court and just do a slam dunk?'</div>
<div class="cbb-hero-credit">-- Scott Aukerman (<a href="#" class="cbb-trigger" data-type="bit" data-target="Scott's Questions">Scott's Questions</a>), ep.<a href="#" class="cbb-trigger" data-type="episode" data-target="582">582</a></div>
<div class="cbb-hero-credit">-- -- <a href="http://www.earwolf.com/show/comedy-bang-bang">Comedy Bang! Bang!</a></div>

    </div>
    <!-- hero stuff -->

<div class="column is-one-quarter"></div>
    </div>
  </section>
    <section class="section">
      <div class="container">
<div class="columns">
  <div class="column" style="text-align:center;">
    <h4 style="" class="cbb-title-sub title is-5"></h4>
  </div>
</div>

  </div>
</div>
</section>