<section class="section">
  <div class="container">
    <div class="columns">

<div class="column is-one-quarter"></div>

    <div class="column">

<div class="cbb-hero-instance">"My name is Onion and I'm here to say \ it's fun to rap in a scallion way."</div>
<div class="cbb-hero-credit">-- S. Aukerman <a href="#" class="cbb-trigger" data-type="bit" data-target="My Name's Rappin Scott">(My Name's Rappin Scott)</a>, ep.<a href="#" class="cbb-trigger" data-type="episode" data-target="bo2017.1">bo2017.1</a></div>
<div class="cbb-hero-credit">-- -- <a href="http://www.earwolf.com/show/comedy-bang-bang">Comedy Bang Bang</a></div>

    </div>
    <!-- hero stuff -->

<div class="column is-one-quarter"></div>
    </div>
  </section>
    <section class="section">
      <div class="container">
<div class="columns">
  <div class="column" style="text-align:center;">
    <h4 style="" class="cbb-title-sub title is-5"></h4>
  </div>
</div>

  </div>
</div>
</section>
