<section class="section">
  <div class="container">
    <div class="columns">

<div class="column is-one-quarter"></div>

    <div class="column">

<div class="cbb-hero-instance">Three New Bits!</div>
<div class="is-pulled-right is-size-4 has-text-right" style="padding-right:5%;margin-top:5%;margin-bottom:12%;">
<dl>
    <dt><a href="#" class="cbb-trigger" data-type="bit" data-target="Classic Jarles">Classic Jarles</a></dt>
    <dd>jarles bein jarles</dd>
    <dt><a href="#" class="cbb-trigger" data-type="bit" data-target="Clumsy Portmanteau">Clumsy Portmanteau</a></dt>
    <dd>the story of an egregriously clumsy portmanteau</dd>
    <dt><a href="#" class="cbb-trigger" data-type="bit" data-target="Let that Cam--">Let that Cam--</a></dt>
    <dd>a lapkus character can't make it through a song</dd>
  </dl>

</div>

<div class="cbb-hero-credit is-pulled-right">-- -- <a href="http://www.earwolf.com/show/comedy-bang-bang">Comedy Bang! Bang!</a></div>

    </div>
    <!-- hero stuff -->

<div class="column is-one-quarter"></div>
    </div>
  </section>
    <section class="section">
      <div class="container">
<div class="columns">
  <div class="column" style="text-align:center;">
    <h4 style="" class="cbb-title-sub title is-5"></h4>
  </div>
</div>

  </div>
</div>
</section>
