<section class="section">
  <div class="container">
    <div class="columns">

<div class="column is-one-quarter"></div>

    <div class="column">

<div class="cbb-hero-instance">"And by the way I'm not the Poet Laureate of The Old West - I'm not a goddamned time traveler."</div>
<div class="cbb-hero-credit">-- Dalton Wilcox (<a href="#" class="cbb-trigger" data-type="bit" data-target="The Paul Hardcastle of Suicides">The Paul Hardcastle of Suicides</a>), ep.<a href="#" class="cbb-trigger" data-type="episode" data-target="529">529</a></div>
<div class="cbb-hero-credit">-- -- <a href="http://www.earwolf.com/show/comedy-bang-bang">Comedy Bang Bang</a></div>

    </div>
    <!-- hero stuff -->

<div class="column is-one-quarter"></div>
    </div>
  </section>
    <section class="section">
      <div class="container">
<div class="columns">
  <div class="column" style="text-align:center;">
    <h4 style="" class="cbb-title-sub title is-5"></h4>
  </div>
</div>

  </div>
</div>
</section>
