<section class="section">
  <div class="container">
    <div class="columns">

<div class="column is-one-quarter"></div>

    <div class="column">

<div class="cbb-hero-instance">"I thought it was 'cause their music is dumb and no one wanted to hear it."</div>
<div class="cbb-hero-credit">-- Paul F. Tompkins (<a href="#" class="cbb-trigger" data-type="bit" data-target="The Paul Hardcastle of Suicides">The Paul Hardcastle of Suicides</a>), ep.<a href="#" class="cbb-trigger" data-type="episode" data-target="bo2018.1">bo2018.1</a></div>
<div class="cbb-hero-credit">-- -- <a href="http://www.earwolf.com/show/comedy-bang-bang">Comedy Bang! Bang!</a></div>

    </div>
    <!-- hero stuff -->

<div class="column is-one-quarter"></div>
    </div>
  </section>
    <section class="section">
      <div class="container">
<div class="columns">
  <div class="column" style="text-align:center;">
    <h4 style="" class="cbb-title-sub title is-5"></h4>
  </div>
</div>

  </div>
</div>
</section>