<section class="section">
  <div class="container">
    <div class="columns">

<div class="column is-one-quarter"></div>

    <div class="column">

<div class="cbb-hero-instance">"When I used to watch 'Cheers', Carla would be very sarcastic - what do you think about that?"</div>
<div class="cbb-hero-credit">-- S. Aukerman (<a href="#" class="cbb-trigger" data-type="bit" data-target="Scott's Questions">Scott's Questions</a>), ep.<a href="#" class="cbb-trigger" data-type="episode" data-target="530">530</a></div>
<div class="cbb-hero-credit">-- -- <a href="http://www.earwolf.com/show/comedy-bang-bang">Comedy Bang Bang</a></div>

    </div>
    <!-- hero stuff -->

<div class="column is-one-quarter"></div>
    </div>
  </section>
    <section class="section">
      <div class="container">
<div class="columns">
  <div class="column" style="text-align:center;">
    <h4 style="" class="cbb-title-sub title is-5"></h4>
  </div>
</div>

  </div>
</div>
</section>
