<section class="section">
  <div class="container">
    <div class="columns">

<div class="column is-one-quarter"></div>

    <div class="column">

<div class="cbb-hero-instance">'Introductions on this show can take upwards of...25, 30 minutes.'</div>
<div class="cbb-hero-credit">-- Scott Aukerman (<a href="#" class="cbb-trigger" data-type="bit" data-target="Introduction in a Second">Introduction in a Second</a>), ep.<a href="#" class="cbb-trigger" data-type="episode" data-target="587">587</a></div>
<div class="cbb-hero-credit">-- -- <a href="http://www.earwolf.com/show/comedy-bang-bang">Comedy Bang! Bang!</a></div>

    </div>
    <!-- hero stuff -->

<div class="column is-one-quarter"></div>
    </div>
  </section>
    <section class="section">
      <div class="container">
<div class="columns">
  <div class="column" style="text-align:center;">
    <h4 style="" class="cbb-title-sub title is-5"></h4>
  </div>
</div>

  </div>
</div>
</section>