<section class="section">
  <div class="container">
    <div class="columns">

<div class="column is-one-quarter"></div>

    <div class="column">

<div class="cbb-hero-instance">"I'm going to a Hoobastank concert next weekend."</div>
<div class="cbb-hero-credit">-- Forsythia (<a href="#" class="cbb-trigger" data-type="bit" data-target="Location">Location</a>), ep.<a href="#" class="cbb-trigger" data-type="episode" data-target="567">567</a></div>
<div class="cbb-hero-credit">-- -- <a href="http://www.earwolf.com/show/comedy-bang-bang">Comedy Bang! Bang!</a></div>

    </div>
    <!-- hero stuff -->

<div class="column is-one-quarter"></div>
    </div>
  </section>
    <section class="section">
      <div class="container">
<div class="columns">
  <div class="column" style="text-align:center;">
    <h4 style="" class="cbb-title-sub title is-5"></h4>
  </div>
</div>

  </div>
</div>
</section>