{{#each menuitems}}
<li class="mnuThumbnail {{this.active}}" data-toggle="tooltip" data-id="{{this.name}}" title="{{this.nom}}">
      <img src="{{this.thumb}}" alt="" width="55px" height="55px" />
    </li>
    {{/each}}