// ACTUAL
$cbb-blue: #00A1E2;
$cbb-yelo: #FDB812;
$cbb-redd: #CA0204;

// FOR FUN
// $cbb-blue: #6d6a25;
// $cbb-yelo: #1d6e66;
// $cbb-redd: #472c23;

.zCBB-primary{color:$cbb-blue;}
.zCBB-primary-2{color:rgba($cbb-blue,.8);a{color:$cbb-blue;}}
.zCBB-primary-3{color:rgba($cbb-blue,.5);a{color:rgba($cbb-blue,.8);}}
.zCBB-secondary{color:$cbb-yelo;}
.zCBB-secondary-2{color:rgba($cbb-yelo,.8);a{color:$cbb-yelo;}}
.zCBB-secondary-3{color:rgba($cbb-yelo,.5);a{color:rgba($cbb-yelo,.8);}}
.zCBB-tertiary{color:$cbb-redd;}

$cbb-baseline: rgba(255, 255, 255, 1);
$cbb-primary: rgba(144, 155, 44, 1);
$cbb-secondary: rgba(122, 55, 22, 1);
$cbb-a: $cbb-yelo;

$zCBB-header-height:5vh;
$zCBB-app-nav-height:10vh;

$zCBB-font-body:'K2D', sans-serif;;
$zCBB-font-accent:'Heebo', sans-serif;
$zCBB-opacity-main:.8;

::selection {
  background: $cbb-blue; /* WebKit/Blink Browsers */
  color:$cbb-yelo;
}
::-moz-selection {
  background: $cbb-blue; /* Gecko Browsers */
  color:$cbb-yelo;
}

#app {
  // height: 20%;
  top: 0;
  // font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-family: $zCBB-font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 90%;
}

.ellipsized{
  text-overflow:ellipsis;
white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.zCBB-marker-hi{
  color: $cbb-yelo;
  &:hover{cursor:pointer;}
  -webkit-text-fill-color: $cbb-yelo; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: $cbb-blue;
}

.zCBB-browseli{
  margin-bottom:1.5em;
}

#zCBB-app-title{
font-family:$zCBB-font-accent;
position:relative;
top:-2em;
}

.columns {
  z-index:2;
  margin-bottom:0;
  // border: 2px solid rgba(22, 5, 55, 0.2);
.zCBB-hero-column{

   }
}

a{color:$cbb-a;}
.header-button{
  color:$cbb-secondary;
&.active{color:$cbb-baseline;}
}

.zCBB-trigger{color:$cbb-a;cursor:pointer;&:hover{color:darken($cbb-a,22%);}}

#zCBB-header{
  background-color:$cbb-baseline;
  min-height:$zCBB-header-height;

}
#zCBB-app-nav{
  background-color:$cbb-baseline;
  min-height:$zCBB-app-nav-height;
  opacity:.9;
}
// #zCBB-throb-container{
//   height:10vh;
//   background-color:$cbb-baseline;
// }
.zCBB-trigger-modal{
  color:red;
  cursor:pointer;
  &.is-active{color:green;}
}
#zCBB-pane-toggler{
  cursor:pointer;
  color:$cbb-yelo;
  &:hover{
    // color:darken($cbb-yelo,12%);
    text-shadow: 0px 0px 1px rgba($cbb-blue,.8);
  }
  &.splayed{color:rgba($cbb-blue,.8);
    &:hover{color:$cbb-blue;}
    }//splayed
}

#zCBB-inputContainer {


  #zCBB-inputSearch {
  p.control{.button.is-cbb{
    &:hover{background-color:lighten($cbb-blue,22%);}
    background-color:$cbb-blue;border-color:$cbb-blue;color:white;}}
    width: 100%;
    input{
      &:active{border-color:$cbb-blue;box-shadow: 0 0 0 .125em rgba($cbb-blue, .2)}
    font-family: $zCBB-font-accent;
    color:$cbb-redd;
  font-weight:900;
      text-transform: lowercase;

    }
  }
}
.zCBB-browses{
  font-size:.8em;
}
.zCBB-pane{
  margin-bottom:0;
  &.columns{margin-bottom:0;}
  opacity:.9;
  &.splayed{position:absolute;left:85%;}
  min-height: calc(100vh - #{$zCBB-header-height});
  padding-top:5em;
  background-color:$cbb-baseline;
  overflow-y:scroll;
  img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.zCBB-facet{
  padding-left:2em;
}
.zCBB-trigger-facet-remove{
  color: #71edf8;
  &:hover{color:black;cursor:pointer;}
  &:active{color:white;}
}
}
.zCBB-nav-item{
  margin:0 .5em;
  color:$cbb-blue;
&:hover {
  cursor:pointer;
  color:lighten($cbb-blue,20%);
}

  font-variant:small-caps;
  &.is-active{font-weight:900;}}
#zCBB-level-nav-out {
  background-color: $cbb-baseline;
}

#zCBB-level-nav-in {
  background-color: $cbb-baseline;
}



.zCBB-bit-data{padding:1% 0 0 0;}
.zCBB-bit-data-meta{
  padding:0 0 0 0; &.column{padding:0;
  }
}

.zCBB-tag.tag{
  &:hover{background-color:grayscale($cbb-yelo);}
  font-size:.6em;font-weight:600;cursor:pointer;
&.is-hot{
  background-color:$cbb-blue;
  &:hover{background-color:darken($cbb-blue,12%);}
}//hot
}//tag

.bit-instance{
    font-weight:600;
  }
  
.bit-data{
    span{
      cursor:default;
    }
    }
    // padding-left:5%;
    // font-size:.7em;
    .bit-data-meta{
  }

  .bit-data-meta{
  padding-left:10%;
}

.cbb-bit-meta-bt{
      &.is-visiblizing{
            transform: rotate(45deg);
          }
    }


nav {
  z-index:1;
}

.footer {
  padding: 0;
  min-height:3vh;
  max-height:3vh;
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: .5em;
  font-weight:800;
}

.is-loading {
  display: inline-block;
  width: 29px;
  height: 29px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-top-color: rgba(0, 0, 0, 0.3);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans-ExtraBold'), local('OpenSans-ExtraBold'), url('assets/fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

/* ========================== BADGE, BULMA, MANUAL ================= */
@-webkit-keyframes spinAround{from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes spinAround{from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}[data-badge]{position:relative}[data-badge]::after{display:inline-block;position:absolute;margin:0;padding:.1rem .25rem;text-align:center;white-space:nowrap;line-height:1;background:#00d1b2;background-clip:padding-box;border-radius:0;box-shadow:0 0 0 1px #fff;color:#fff;content:attr(data-badge);z-index:99}[data-badge][data-badge=""]::after{vertical-align:inherit}[data-badge].has-badge-white::after{background:#fff;color:#0a0a0a}[data-badge].has-badge-black::after{background:#0a0a0a;color:#fff}[data-badge].has-badge-light::after{background:#f5f5f5;color:#363636}[data-badge].has-badge-dark::after{background:#363636;color:#f5f5f5}[data-badge].has-badge-primary::after{background:#00d1b2;color:#fff}[data-badge].has-badge-link::after{background:#3273dc;color:#fff}[data-badge].has-badge-info::after{background:#209cee;color:#fff}[data-badge].has-badge-success::after{background:#23d160;color:#fff}[data-badge].has-badge-warning::after{background:#ffdd57;color:rgba(0,0,0,.7)}[data-badge].has-badge-danger::after{background:#ff3860;color:#fff}[data-badge].has-badge-outlined::after{background-color:#fff;box-shadow:none;border:1px solid #00d1b2;color:#00d1b2}[data-badge].has-badge-outlined.has-badge-white::after{background:#fff;box-shadow:none;border:1px solid #fff;color:#fff}[data-badge].has-badge-outlined.has-badge-black::after{background:#fff;box-shadow:none;border:1px solid #0a0a0a;color:#0a0a0a}[data-badge].has-badge-outlined.has-badge-light::after{background:#fff;box-shadow:none;border:1px solid #f5f5f5;color:#f5f5f5}[data-badge].has-badge-outlined.has-badge-dark::after{background:#fff;box-shadow:none;border:1px solid #363636;color:#363636}[data-badge].has-badge-outlined.has-badge-primary::after{background:#fff;box-shadow:none;border:1px solid #00d1b2;color:#00d1b2}[data-badge].has-badge-outlined.has-badge-link::after{background:#fff;box-shadow:none;border:1px solid #3273dc;color:#3273dc}[data-badge].has-badge-outlined.has-badge-info::after{background:#fff;box-shadow:none;border:1px solid #209cee;color:#209cee}[data-badge].has-badge-outlined.has-badge-success::after{background:#fff;box-shadow:none;border:1px solid #23d160;color:#23d160}[data-badge].has-badge-outlined.has-badge-warning::after{background:#fff;box-shadow:none;border:1px solid #ffdd57;color:#ffdd57}[data-badge].has-badge-outlined.has-badge-danger::after{background:#fff;box-shadow:none;border:1px solid #ff3860;color:#ff3860}[data-badge].has-badge-rounded::after{border-radius:290486px}[data-badge]::after{min-width:1rem;min-height:1rem;font-size:.75rem;top:0;right:0;bottom:auto;left:auto;-webkit-transform:translate(50%,-50%);transform:translate(50%,-50%)}[data-badge].has-badge-left::after{top:0;right:auto;bottom:auto;left:0;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}[data-badge].has-badge-bottom::after{top:auto;right:0;bottom:0;left:auto;-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}[data-badge].has-badge-bottom-left::after{top:auto;right:auto;bottom:0;left:0;-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}[data-badge].has-badge-inline{margin-right:1.5rem}[data-badge].has-badge-inline::after{top:50%;right:-20%}[data-badge].has-badge-inline.has-badge-left{margin-right:inherit;margin-left:1.5rem;top:50%;left:20%}[data-badge].has-badge-inline.has-badge-bottom{margin-right:1.5rem;top:50%;right:-20%}[data-badge].has-badge-inline.has-badge-bottom-left{margin-right:inherit;margin-left:1.5rem;top:50%;left:20%}[data-badge].has-badge-small::after{min-width:.75rem;min-height:.75rem;font-size:.5625rem;top:0;right:0;bottom:auto;left:auto;-webkit-transform:translate(50%,-50%);transform:translate(50%,-50%)}[data-badge].has-badge-small.has-badge-left::after{top:0;right:auto;bottom:auto;left:0;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}[data-badge].has-badge-small.has-badge-bottom::after{top:auto;right:0;bottom:0;left:auto;-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}[data-badge].has-badge-small.has-badge-bottom-left::after{top:auto;right:auto;bottom:0;left:0;-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}[data-badge].has-badge-small.has-badge-inline{margin-right:1.125rem}[data-badge].has-badge-small.has-badge-inline::after{top:50%;right:-20%}[data-badge].has-badge-small.has-badge-inline.has-badge-left{margin-right:inherit;margin-left:1.125rem;top:50%;left:20%}[data-badge].has-badge-small.has-badge-inline.has-badge-bottom{margin-right:1.125rem;top:50%;right:-20%}[data-badge].has-badge-small.has-badge-inline.has-badge-bottom-left{margin-right:inherit;margin-left:1.125rem;top:50%;left:20%}[data-badge].has-badge-medium::after{min-width:1.2rem;min-height:1.2rem;font-size:.9rem;top:0;right:0;bottom:auto;left:auto;-webkit-transform:translate(50%,-50%);transform:translate(50%,-50%)}[data-badge].has-badge-medium.has-badge-left::after{top:0;right:auto;bottom:auto;left:0;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}[data-badge].has-badge-medium.has-badge-bottom::after{top:auto;right:0;bottom:0;left:auto;-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}[data-badge].has-badge-medium.has-badge-bottom-left::after{top:auto;right:auto;bottom:0;left:0;-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}[data-badge].has-badge-medium.has-badge-inline{margin-right:1.8rem}[data-badge].has-badge-medium.has-badge-inline::after{top:50%;right:-20%}[data-badge].has-badge-medium.has-badge-inline.has-badge-left{margin-right:inherit;margin-left:1.8rem;top:50%;left:20%}[data-badge].has-badge-medium.has-badge-inline.has-badge-bottom{margin-right:1.8rem;top:50%;right:-20%}[data-badge].has-badge-medium.has-badge-inline.has-badge-bottom-left{margin-right:inherit;margin-left:1.8rem;top:50%;left:20%}[data-badge].has-badge-large::after{min-width:1.4rem;min-height:1.4rem;font-size:1.05rem;top:0;right:0;bottom:auto;left:auto;-webkit-transform:translate(50%,-50%);transform:translate(50%,-50%)}[data-badge].has-badge-large.has-badge-left::after{top:0;right:auto;bottom:auto;left:0;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}[data-badge].has-badge-large.has-badge-bottom::after{top:auto;right:0;bottom:0;left:auto;-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}[data-badge].has-badge-large.has-badge-bottom-left::after{top:auto;right:auto;bottom:0;left:0;-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}[data-badge].has-badge-large.has-badge-inline{margin-right:2.1rem}[data-badge].has-badge-large.has-badge-inline::after{top:50%;right:-20%}[data-badge].has-badge-large.has-badge-inline.has-badge-left{margin-right:inherit;margin-left:2.1rem;top:50%;left:20%}[data-badge].has-badge-large.has-badge-inline.has-badge-bottom{margin-right:2.1rem;top:50%;right:-20%}[data-badge].has-badge-large.has-badge-inline.has-badge-bottom-left{margin-right:inherit;margin-left:2.1rem;top:50%;left:20%}[data-badge].button:not(.is-clipped)::after{overflow:visible}


[data-badge] {
  position: relative;
}

[data-badge]::after {
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: .20rem .25rem;
  text-align: center;
  white-space: nowrap;
  line-height: 1;

  background-clip: padding-box;
  border-radius: 0;
  box-shadow: 0 0 0 1px #fff;

  content: attr(data-badge);
  z-index: 99
}

[data-badge][data-badge=""]::after {
  vertical-align: inherit
}

[data-badge].has-badge-white::after {
  background: #fff;
  color: #0a0a0a
}

[data-badge].has-badge-black::after {
  background: #0a0a0a;
  color: #fff
}

[data-badge].has-badge-light::after {
  background: #f5f5f5;
  color: #363636
}

[data-badge].has-badge-dark::after {
  background: #363636;
  color: #f5f5f5
}

[data-badge].has-badge-primary::after {
  background: $cbb-blue;
  color: white;
  font-weight:800;
}

[data-badge].has-badge-secondary::after {
  background: $cbb-yelo;
  color: $cbb-blue;
}

[data-badge].has-badge-link::after {
  background: #3273dc;
  color: #fff
}

[data-badge].has-badge-info::after {
  background: #209cee;
  color: #fff
}

[data-badge].has-badge-success::after {
  background: #23d160;
  color: #fff
}

[data-badge].has-badge-warning::after {
  background: #ffdd57;
  color: rgba(0, 0, 0, .7)
}

[data-badge].has-badge-danger::after {
  background: #ff3860;
  color: #fff
}

[data-badge].has-badge-outlined::after {
  background-color: #fff;
  box-shadow: none;
  border: 1px solid #00d1b2;
  color: #00d1b2
}

[data-badge].has-badge-outlined.has-badge-white::after {
  background: #fff;
  box-shadow: none;
  border: 1px solid #fff;
  color: #fff
}

[data-badge].has-badge-outlined.has-badge-black::after {
  background: #fff;
  box-shadow: none;
  border: 1px solid #0a0a0a;
  color: #0a0a0a
}

[data-badge].has-badge-outlined.has-badge-light::after {
  background: #fff;
  box-shadow: none;
  border: 1px solid #f5f5f5;
  color: #f5f5f5
}

[data-badge].has-badge-outlined.has-badge-dark::after {
  background: #fff;
  box-shadow: none;
  border: 1px solid #363636;
  color: #363636
}

[data-badge].has-badge-outlined.has-badge-primary::after {
  background: #fff;
  box-shadow: none;
  border: 1px solid #00d1b2;
  color: #00d1b2
}

[data-badge].has-badge-outlined.has-badge-link::after {
  background: #fff;
  box-shadow: none;
  border: 1px solid #3273dc;
  color: #3273dc
}

[data-badge].has-badge-outlined.has-badge-info::after {
  background: #fff;
  box-shadow: none;
  border: 1px solid #209cee;
  color: #209cee
}

[data-badge].has-badge-outlined.has-badge-success::after {
  background: #fff;
  box-shadow: none;
  border: 1px solid #23d160;
  color: #23d160
}

[data-badge].has-badge-outlined.has-badge-warning::after {
  background: #fff;
  box-shadow: none;
  border: 1px solid #ffdd57;
  color: #ffdd57
}

[data-badge].has-badge-outlined.has-badge-danger::after {
  background: #fff;
  box-shadow: none;
  border: 1px solid #ff3860;
  color: #ff3860
}

[data-badge].has-badge-rounded::after {
  border-radius: 290486px
}

[data-badge]::after {
  min-width: 1rem;
  min-height: 1rem;
  font-size: .55rem;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%)
}

[data-badge].has-badge-left::after {
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

[data-badge].has-badge-bottom::after {
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%)
}

[data-badge].has-badge-bottom-left::after {
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%)
}

[data-badge].has-badge-inline {
  margin-right: 1.5rem
}

[data-badge].has-badge-inline::after {
  top: 50%;
  right: -20%
}

[data-badge].has-badge-inline.has-badge-left {
  margin-right: inherit;
  margin-left: 1.5rem;
  top: 50%;
  left: 20%
}

[data-badge].has-badge-inline.has-badge-bottom {
  margin-right: 1.5rem;
  top: 50%;
  right: -20%
}

[data-badge].has-badge-inline.has-badge-bottom-left {
  margin-right: inherit;
  margin-left: 1.5rem;
  top: 50%;
  left: 20%
}

[data-badge].has-badge-small::after {
  min-width: .75rem;
  min-height: .75rem;
  font-size: .5625rem;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%)
}

[data-badge].has-badge-small.has-badge-left::after {
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

[data-badge].has-badge-small.has-badge-bottom::after {
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%)
}

[data-badge].has-badge-small.has-badge-bottom-left::after {
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%)
}

[data-badge].has-badge-small.has-badge-inline {
  margin-right: 1.125rem
}

[data-badge].has-badge-small.has-badge-inline::after {
  top: 50%;
  right: -20%
}

[data-badge].has-badge-small.has-badge-inline.has-badge-left {
  margin-right: inherit;
  margin-left: 1.125rem;
  top: 50%;
  left: 20%
}

[data-badge].has-badge-small.has-badge-inline.has-badge-bottom {
  margin-right: 1.125rem;
  top: 50%;
  right: -20%
}

[data-badge].has-badge-small.has-badge-inline.has-badge-bottom-left {
  margin-right: inherit;
  margin-left: 1.125rem;
  top: 50%;
  left: 20%
}

[data-badge].has-badge-medium::after {
  min-width: 1.2rem;
  min-height: 1.2rem;
  font-size: .9rem;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%)
}

[data-badge].has-badge-medium.has-badge-left::after {
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

[data-badge].has-badge-medium.has-badge-bottom::after {
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%)
}

[data-badge].has-badge-medium.has-badge-bottom-left::after {
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%)
}

[data-badge].has-badge-medium.has-badge-inline {
  margin-right: 1.8rem
}

[data-badge].has-badge-medium.has-badge-inline::after {
  top: 50%;
  right: -20%
}

[data-badge].has-badge-medium.has-badge-inline.has-badge-left {
  margin-right: inherit;
  margin-left: 1.8rem;
  top: 50%;
  left: 20%
}

[data-badge].has-badge-medium.has-badge-inline.has-badge-bottom {
  margin-right: 1.8rem;
  top: 50%;
  right: -20%
}

[data-badge].has-badge-medium.has-badge-inline.has-badge-bottom-left {
  margin-right: inherit;
  margin-left: 1.8rem;
  top: 50%;
  left: 20%
}

[data-badge].has-badge-large::after {
  min-width: 1.4rem;
  min-height: 1.4rem;
  font-size: 1.05rem;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%)
}

[data-badge].has-badge-large.has-badge-left::after {
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

[data-badge].has-badge-large.has-badge-bottom::after {
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%)
}

[data-badge].has-badge-large.has-badge-bottom-left::after {
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%)
}

[data-badge].has-badge-large.has-badge-inline {
  margin-right: 2.1rem
}

[data-badge].has-badge-large.has-badge-inline::after {
  top: 50%;
  right: -20%
}

[data-badge].has-badge-large.has-badge-inline.has-badge-left {
  margin-right: inherit;
  margin-left: 2.1rem;
  top: 50%;
  left: 20%
}

[data-badge].has-badge-large.has-badge-inline.has-badge-bottom {
  margin-right: 2.1rem;
  top: 50%;
  right: -20%
}

[data-badge].has-badge-large.has-badge-inline.has-badge-bottom-left {
  margin-right: inherit;
  margin-left: 2.1rem;
  top: 50%;
  left: 20%
}

[data-badge].button:not(.is-clipped)::after {
  overflow: visible
}