


$cbb-primary: rgba(144, 155, 44, 1);
$cbb-secondary: rgba(122, 55, 22, .5);
$cbb-a: purple;

::selection {
  background: $cbb-secondary; /* WebKit/Blink Browsers */
  color:white;
}
::-moz-selection {
  background: $cbb-secondary; /* Gecko Browsers */
  color:white;
}

a{color:inherit;}
.header-button{
  color:$cbb-secondary;
&.active{color:$cbb-primary;}
}

#zCBB-throb-container{
  height:10vh;
  background-color:rgba($cbb-primary,.8);
}

#zCBB-inputContainer {

  #zCBB-inputSearch {
    width: 100%;
    input{
        font-family:'OpenSans-ExtraBold';
        // height:1.8em;
        // margin-top:3%;
  font-weight:900;
      text-transform: lowercase;
      // padding:0;
    }
  }
}
.zCBB-pane{
  height:100%;
  overflow-y:scroll;
}
.zCBB-nav-item{
&:hover {
  cursor:pointer;
  color:darken($cbb-a,20%);
}

  font-variant:small-caps; color:$cbb-a;&.is-active{color:white;font-weight:800;}}
#zCBB-level-nav-out {
  background-color: $cbb-primary;
}

#zCBB-level-nav-out {
  background-color: $cbb-secondary;
}

.bit-instance{
    font-weight:600;
  }
  
.bit-data{
    span{
      cursor:default;
    }
    }
    // padding-left:5%;
    // font-size:.7em;
    .bit-data-meta{
  }

  .bit-data-meta{
  padding-left:10%;
}

.cbb-bit-meta-bt{
      &.is-visiblizing{
            transform: rotate(45deg);
          }
    }


nav {
  z-index: 1;
}

.footer {
  padding: 0;
  min-height:3vh;
  max-height:3vh;
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: .5em;
  font-weight:800;
}

.columns {
  z-index: 2;
}

.is-loading {
  display: inline-block;
  width: 29px;
  height: 29px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-top-color: rgba(0, 0, 0, 0.3);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans-ExtraBold'), local('OpenSans-ExtraBold'), url('assets/fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

