


$cbb-primary: rgba(144, 155, 44, 1);
$cbb-secondary: rgba(122, 55, 22, .5);

::selection {
  background: $cbb-secondary; /* WebKit/Blink Browsers */
  color:white;
}
::-moz-selection {
  background: $cbb-secondary; /* Gecko Browsers */
  color:white;
}

a{color:inherit;}
.header-button{
  color:$cbb-secondary;
&.active{color:$cbb-primary;}
}

#zCBB-inputSearch {
  #inputContainer {
    width: 100%;
    font-weight: 800;
    color: red;
  }
}
.zCBB-pane{
  height:100%;
  overflow-y:scroll;
}
.vCBB-nav-item{font-variant:small-caps; color:purple;&.is-active{color:white;font-weight:800;}}
#zCBB-level-nav-out {
  background-color: $cbb-primary;
}

#zCBB-level-nav-out {
  background-color: $cbb-secondary;
}

// a {
//   color: black;
// }

nav {
  z-index: 1;
}

.footer {
  padding: 0;
  min-height:3vh;
  max-height:3vh;
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: .5em;
  font-weight:800;
}

.columns {
  z-index: 2;
  background-color: $cbb-primary;
}

.is-loading {
  display: inline-block;
  width: 29px;
  height: 29px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-top-color: rgba(0, 0, 0, 0.3);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

